.App {
    text-align: left;
}

.App-logo {
    display: flow-root;
    height: 300px;
    width: 300px;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: url("fondoweb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.App-link {
    color: #09d3ac;
}

.Home {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: url("fondoweb.jpg")
}

.MiddlePage {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: url("fondoweb.jpg");
    font-palette: dark;
}

.MainPageMiddle {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    background-image: url("fondoweb.jpg")
}

.RegistrarProducto {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url("fondoweb.jpg");

}

.RegistrarVenta{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url("fondoweb.jpg");
}
.col-3 {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    min-width: 50vh;
    padding-left: 300vh;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-45 {
    margin-bottom: 45px;
}

.p30 {
    padding: 30px;
}

.ml-1rem {
    margin-left: 1rem;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.FormContainer {
    background-color: rgba(0, 0, 0, .6);
    border-radius: 10px;
    padding: 10px 20px;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    background-color: #111;
}

.title {
    font-family: "Montserrat";
    margin-left: initial;
}

h2 {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    line-height: .75;
    margin: 10px 0;
    font-size: 10rem !important;
    left: 10px !important;
}


